*.o
*.a
*.so
*.pyc
__pycache__/
*.out
.DS_Store
**/src/
initial-xv6/src/
scheduling-xv6-lottery/src/
vm-xv6-intro/src/
concurrency-xv6-threads/src/
filesystems-checker/src/
initial-utilities/*
!initial-utilities/README.md
!initial-utilities/FUTURE.md
!initial-utilities/*.c
!initial-utilities/*.h
!initial-utilities/Makefile
